.container {
	max-width: 1300px;
}

.container .row {
	margin-top: 15px;
}

.container a button {
	display: block;
}

.container a {
	text-decoration: none;
}

td a:first-child {
	padding-left: 0px;
}

td a {
	padding-left: 15px;
}