* {
	font-family: Lato;
}

.results {
	text-decoration: none;
	color: gray;
	display: inline-block;
}

.results:hover {
	text-decoration: underline;
	color: gray;
}

/*SORT BY*/

.sort-by {
	display: inline-block;
	width: 100%;
	margin: 0px;
}

.sort-by li {
	display: inline-block;
	list-style-type: none;
	font-size: .8em;
	padding: 0px 2%;
}

.sort-by-border {
	border-right: 1px gray solid;
}

.sort-by a {
	text-decoration: none;
	color: gray;

}

.sort-by a:hover {
	text-decoration: underline;
}

.sort-title {
	display: inline-block;
}

/*DISPLAY TILE*/

.project-tile {
	margin-top: 2%;
	background-color: rgba(213, 211, 211, 0.21);
}

.project-picture {
	background-size: 100%;
	height: 100%;
	width: 100%;
	background-position: center;
}
.author {
	text-decoration: none;
	display: inline-block;
}

.author:hover {
	color: black;
}

p {
	margin: 2% 0px;
}

h3 {
	color: gray;
}

h5 {
	margin: 0px;
	padding-top: 1%;
	display: inline-block;
	padding-right: 1%;
}

h5 a {
	text-decoration: none;
	color: black;
}

.bold {
	font-weight: bold;
}

.light-dollar {
	color: lightgray;
	padding-right: 4%;
}

.moderate {
	padding-right: 4%;
}