@font-face {
	font-family: glyphicons;
	src: url('fonts/glyphicons-halflings-regular.ttf');
}

* {
	font-family: Lato;
}

header * {
	color: white;
}

header h2, header a, header form {
	display: inline-block;
	margin: 0px;
}

header {
	border-bottom: 1px solid black;
	padding: 5px 5%;
	background: black;
	opacity: .9;
}

header h2 {
	font-size: 32px;
	text-align: center;
}

header a {
	margin-left: 30px;
	font-size: 18px;
	font-weight: lighter;
	text-decoration: none;
}

header #search {
	margin-left: 0px;
	margin-bottom: -5px;
	font-family: "glyphicons";
}

header #search:before {
	content:"\e003";
}

header #checkout{
	margin-left: 10px;
	margin-bottom: -8px;
	font-family: "glyphicons";
}
header #checkout:before{
	content: "\e116";
}

header #profile {
	margin-left: 10px;
	margin-bottom: -5px;
	font-family: "glyphicons";
}

header #profile:before {
	content:"\e008"
}

header ul {
	position: absolute;
	visibility: hidden;
	background: black;
	float: right;
	margin-left: -40px;
	margin-top: -5px;
}

header button {
	border: none;
	padding: 0px;
	font-size: 18px;
}

header button:hover {
	color: #0FA0CE; 
}

header ul li {
	color: white;
	list-style: none;
	border-bottom: 1px solid white;
	padding: 2px 5px;
	text-align: center;
	margin-bottom: 0px;
	border-bottom: none;
}

header ul li a {
	margin: 0px;
}

header ul li:first-of-type {
	padding-top: 20px;
}


header input {
	margin-bottom: 0px;
	color: black;
	visibility: hidden;
}

header form {
	margin-left: 80px;
}

header div{
	display: inline-block;
	float: right;
	margin-top: 5px;
}

/* --------------------- FOOTER --------------------- */

footer {
	height: 40px;
	margin-top: 30px;
	background: black;
	padding-top: 10px;
	text-align: center;
}

footer ul {
	display: inline-block;
}

footer ul li {
	display: inline-block;
	margin: 0 30px;
}

footer ul li a {
	text-decoration: none;
	color: white;
}