@font-face {
	font-family: glyphicons;
	src: url('fonts/glyphicons-halflings-regular.ttf');
}

.container .row {
	text-align: center;
}

.container .row:first-of-type{
	margin-top: 50px;
	padding-bottom: 20px;
}

.container .five.columns {
	height: 150px;
	border: 1px solid black;
	padding-top: 30px;
	margin-left: 0px;
}

.container .two.columns {
	width: 15%;
	margin: 50px 2%;
}

.container .five.columns p {
	margin-bottom: 0px;
}

#browse-projects {
	font-family: "glyphicons";
}

#browse-projects:before {
	font-size: 32px;
	content:"\e043";
}

#find-projects{
	font-family: "glyphicons";
}

#find-projects:before{
	font-size: 32px;
	content:"\e032"
}

#arrow-icon {
	font-family: "glyphicons";
	opacity: .5;
}

#arrow-icon:before {
	font-size: 32px;
	content:"\e120"
}

.popular {
	margin-top: 30px;
}

.popular h3 {
	text-align: left;
	font-size: 24px;
}
