@font-face {
	font-family: glyphicons;
	src: url('fonts/glyphicons-halflings-regular.ttf');
}

.container .row {
	text-align: center;
}

.container .row:first-of-type{
	margin-top: 50px;
	padding-bottom: 20px;
}

.container .five.columns {
	height: 150px;
	border: 1px solid black;
	padding-top: 30px;
	margin-left: 0px;
}

.container .two.columns {
	margin: 0% 2%;
	margin-top: 60px;
}

.container .five.columns p {
	margin-bottom: 0px;
}

#browse-projects {
	font-family: "glyphicons";
}

#browse-projects:before {
	font-size: 32px;
	content:"\e043";
}

#find-projects{
	font-family: "glyphicons";
}

#find-projects:before{
	font-size: 32px;
	content:"\e032"
}
