@font-face {
	font-family: glyphicons;
	src: url('fonts/glyphicons-halflings-regular.ttf');
}

#background {
	width: 100%;
	height: auto;
	max-height: 600px;
	position: absolute;
	color: white;
	z-index: -1;
	background-color: black;
	opacity: .9;
}

body {
	background: #eee;
	color: white; 
}
.container .row {
	text-align: center;
}

.search{
	margin-top: 80px;
	padding-bottom: 60px;
	margin-left: -30px;
	opacity: .9;
}

.search form input[type='text'] {
	margin-top: 10px;
	width: 40%;
	height: 40px;
	opacity: .95;
	color: black;
}

.search form input[type='submit']{
	border: 1px solid white;
	color: white;
	opacity: .95;
}

.container .five.columns {
	height: 150px;
	border: 1px solid white;
	padding-top: 30px;
	margin-left: 0px;
	background-color: rgba(0,0,0,.5);
}

.container .two.columns {
	width: 15%;
	margin: 50px 2%;
}

.container .five.columns p {
	margin-bottom: 0px;
}

#browse-projects {
	font-family: "glyphicons";
}

#browse-projects:before {
	font-size: 32px;
	content:"\e043";
}

#find-projects{
	font-family: "glyphicons";
}

#find-projects:before{
	font-size: 32px;
	content:"\e032"
}

#arrow-icon {
	font-family: "glyphicons";
	opacity: .5;
}

#arrow-icon:before {
	font-size: 32px;
	content:"\e120"
}

.popular {
	margin-top: 60px;
	color: black;
}

.discover {
	margin-left: 0px;
}

.popular h3 {
	text-align: left;
	font-size: 24px;
}

.row .four.columns {
	border: 1px solid white;
	background-color: rgba(0,0,0,.5);
	height: 200px;
}
